**/__pycache__/
.idea/
*.egg-info
*.pot
*.py[co]
.tox/
*.swp
__pycache__
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
tests/report/
.directory
*.less
*.log
**/.sass-cache/
**/CACHE/
**/media
django-static/
#static/
.vscode/
.env

**/migrations/00*