body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}
.clear {
  clear: both;
  content: ""
}

.game {
  text-align: center;
}

.game-info {
  min-height: 50px;
}

.cell {
  background: #fff;
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #7e7b92;
}

.is-flag,
.is-mine {
  color: #fc543c;
}

.App {
  text-align: center;
  align:"center"
}

.Loguin {
  text-align: center;
  width: 250px;
}